* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  .container-fluid {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 400px;
      margin: auto;
      margin-top: 50px;
  }
  
  .Main {
    margin-bottom: 20px;
    border-radius: 20px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
    background-image: url(https://img.rawpixel.com/private/static/images/website/2022-05/v904-nunny-016_2.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=d04dc64ebef3b6c3ad40a5687bbe31dc);
  }
  .ATM-Card {
    /* border: 1px solid red; */
    width: 80%;
    /* height: 210px; */
    box-shadow: 9px 9px 9px #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: "red";
    background-image: url(https://img.rawpixel.com/private/static/images/website/2022-05/v904-nunny-016_2.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=d04dc64ebef3b6c3ad40a5687bbe31dc);
    margin-top: 20px;
    border-radius: 10px;
    /* box-shadow: 9px 9px 9px gray; */
    margin-bottom: 10px;
  }
  
  #num,#holder,#CVV {
    width: 100%;
    border-radius: 7px;
    height: 35px;
    font-weight: bold;
    text-align: center;
  }

  #CVV {
    border-radius: 7px;
    height: 35px;
    width: 100px;
  }
  
  input::placeholder {
    opacity: 1;
  }
  
  label {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  select {
    font-weight: bold;
    height: 35px;
    border-radius: 7px;
    margin: 5px;
  }
  option {
    font-weight: bold;
  }
  input[type="submit"] {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    font-weight: bold;
  }
  .logoOne {
    width: 50px;
    height: 50px;
    border-radius: 20px;
  }
  
  .logoTwo {
    width: 90px;
    height: 30px;
    margin-right: 10px;
  }
  
  .logos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  .card-number {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: flex-end;
  }
  
  .card-number > h1 {
    font-style: italic;
    width: 80%;
    font-size: 22px;
    padding-left: 20px;
  }
  .card-info {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    padding: 0px 10px 10px 10px;
  }
  
  .card-holder {
    width: 60%;
    text-align: left;
  }

  .cvv {
    background-color: #ffffff;
    width: 90%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .blackStrip {
    background-color: black;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
  }
  
  .cvv > h3 {
    padding-right: 10px;
    padding-top: 5px;
    font-weight: bold;
    font-family: "Shantell Sans", cursive;
  }
  .info > p {
    font-size: 12px;
    font-weight: bold;
    text-align: justify;
    margin: 0 10px 10px 10px;
  }
  
  .table > tbody {
    font-weight: 500;
  }
  
  .Form {
    display: flex;
    flex-direction: column;
    width: 325px;
    border-radius: 5px;
  }
  .ExpiryAndCVV {
    width: 100%;
  }
  .labels {
    display: flex;
    justify-content: space-between;
    padding: 0 24px 0 18px;  
    width: 100%;
  }
  .MYCVV {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
  }
  .btnPayment{
    width: 40%;
    height: 35px;
    background-color: rgba(209, 156, 255, 0.79);
    border-radius: 10px;
    cursor: pointer;
  }
  .btnPayment:hover{
    background-color: rgba(188, 111, 255, 0.79);
  }